<div class="container d-flex justify-content-center text-center align-items-center flex-column">
  <div>
    <h1>Ask the stupid coach anything!</h1>
    <p>He is really quite stupid actually</p>
  </div>
  <br>
  <form action="answer" method="get">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>

<!-- Header: POST /restaurants
Body: name=name_you_typed&address=address_you_typed-->
